section {
	background-color: #f1e9f3;

}

header {
	height: 500px;
	padding-top: 0;
	background-size: 1300px;
	background-image: url('http://wallpaper-house.com/data/out/10/wallpaper2you_421527.jpg');
}


header h1 {
	color: #fefbfb;
	font-size: 70px;
	text-align: center;
	padding-top: 120px;
	margin-top: 0;
}

header h2 {
	color: #fefbfb;
	font-size: 35px;
	text-align: center;
}

header h2 abbr {
	text-decoration: none;
}

.sidebar {
	float: left;
	background-color: #fbedf1;
	border-right: 1pt solid;

}

.sidebar nav ul li {
	font-size: 21px;
	border-bottom: 1px solid;
	padding-bottom: 8px;
	color: grey;
	width: 232px;
}

.sidebar nav ul li a {
	margin-top: 5px;
	padding-top: 5px;
	color: black;
	text-decoration: none;
}

.page-wrapper {
	display: flex;
	flex-flow: row wrap;
	width: 1300px;
	margin: 0 15% 0 15%;
}

.page-wrapper>* {
	flex: 1 100%;
}

.page-wrapper #zen-supporting {
	flex: 1 70%;
	order: 2;
}

.page-wrapper aside {
	flex: 1 auto;
	order: 1;
	padding-left: 30px;
}

.page-wrapper .intro {
	border-bottom: 1px solid;
}

.page-wrapper .intro > div  {
	padding-left: 30px;
}

.zen-resources ul li a {
	font-size: 21px;
	border-bottom: 1px solid;
	padding-bottom: 8px;
	color: #080303;
	width: 232px;
	display: list-item;
	list-style-type: none;
	    text-decoration: none;
}

.main {
	padding-left: 30px;
}


/*  fonts  */

h1 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

a {
	color: #d37e8d;
}